<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/components/header.css">
    <link rel="stylesheet" href="../css/components/footer.css">
    <link rel="stylesheet" href="../css/components/acerca.css">
    <link rel="icon" href="../img/favicon.ico">

    <title>Acerca de PublicObras</title>
</head>
<body>

    <header>
        <h1 class="header_title" ><a href="../../">P U B L I C O B R A S</a></h1>
        <nav>
            <ul class="header_nav">
                <li class="header_nav_li"><a href="../views/acerca.html">Acerca de PublicObras</a></li>
                <li class="header_nav_li"><a href="../views/registro.html">Crear Cuenta</a></li>
                <li class="header_nav_li"><a href="../views/galeria.html">Galeria</a></li>
                <li class="header_nav_li"><a href="../views/login.html">Login</a></li>
                <li class="header_nav_li"><a href="../views/contacto.html">Contacto</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <h1>Acerca de PublicObras</h1>

        <h2>Nuestra Misión</h2>
        <p>En PublicObras, nos dedicamos a proporcionar un espacio inclusivo y colaborativo para que artistas de todo el mundo compartan sus creaciones y se conecten con una comunidad apasionada por el arte.</p>

        <h2>Nuestra Historia</h2>
        <p>Desde nuestros humildes comienzos como una idea entre amigos amantes del arte, hemos crecido hasta convertirnos en una plataforma global que promueve la diversidad y la creatividad en todas sus formas. Fundada en 2024, nuestra página web ha evolucionado para convertirse en un destino imprescindible para los amantes del arte en línea.</p>

        <h2>Lo que Ofrecemos</h2>
        <p>En PublicObras, los artistas tienen la oportunidad de exhibir sus obras de arte de manera virtual, mientras que los visitantes pueden explorar y descubrir una amplia gama de estilos y técnicas. Además, ofrecemos a los usuarios la posibilidad de interactuar directamente con los artistas, comentar en sus obras y contactarlos para adquirir piezas únicas para sus colecciones.</p>

        <h2>Nuestro Equipo</h2>
        <p>Detrás de PublicObras hay un equipo apasionado de artistas, diseñadores y desarrolladores comprometidos con nuestra misión de hacer que el arte sea accesible para todos. Nos esforzamos por mantener una comunidad inclusiva y respetuosa donde la creatividad pueda florecer.</p>

    </main>

    <footer>
        <label>Recibe las últimas novedades de PublicObras:
            <input type="email" name="email" placeholder="email@email.com">
            <button type="button">Suscribirme al Newsletter</button>
        </label>
        <div class="social">
            <p>Seguinos en nuestras redes</p>
            <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.pinterest.com" target="_blank"><i class="bi bi-pinterest"></i></a>
        </div>
        <hr>
        <a href="../views/terms.html">Terminos y Condiciones</a>
        <p>©2024 PublicObras</p>
    </footer>
</body>
</html>