<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/components/header.css">
    <title>Galería</title>
</head>
<body>
    <header>
        <h1 class="header_title" ><a href="/">P U B L I C O B R A S</a></h1>
        <nav>
            <ul class="header_nav">
                <li class="header_nav_li"><a href="/public/views/acerca.html">Acerca de PublicObras</a></li>
                <li class="header_nav_li"><a href="/public/views/Proyecto_1.html">Crear Cuenta</a></li>
                <li class="header_nav_li"><a href="/public/views/galeria.html">Galeria</a></li>
                <li class="header_nav_li"><a href="/public/views/login.html">Login</a></li>
            </ul>
        </nav>
    </header>

    <h1>En construcción...</h1>
    
</body>
</html>