<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/components/header.css">
    <link rel="stylesheet" href="/public/css/components/footer.css">
    <title>Galería</title>
</head>
<body>
    <header>
        <h1 class="header_title" ><a href="/">P U B L I C O B R A S</a></h1>
        <nav>
            <ul class="header_nav">
                <li class="header_nav_li"><a href="/public/views/acerca.html">Acerca de PublicObras</a></li>
                <li class="header_nav_li"><a href="/public/views/Proyecto_1.html">Crear Cuenta</a></li>
                <li class="header_nav_li"><a href="/public/views/galeria.html">Galeria</a></li>
                <li class="header_nav_li"><a href="/public/views/login.html">Login</a></li>
            </ul>
        </nav>
    </header>

    <h1>En construcción...</h1>
    
    <footer>
        <label>Recibe las últimas novedades de PublicObras:
            <input type="email" name="email" placeholder="email@email.com">
            <button type="button">Suscribirme al Newsletter</button>
        </label>
        <div class="social">
            <p>Seguinos en nuestras redes</p>
            <a href="www.instagram.com"><i class="bi bi-instagram"></i></a>
            <a href="www.facebook.com"><i class="bi bi-facebook"></i></a>
            <a href="www.pinterest.com"><i class="bi bi-pinterest"></i></a>
        </div>
        <hr>
        <a href="/public/views/terms.html">Terminos y Condiciones</a>
        <p>©2024 PublicObras</p>
    </footer>
</body>
</html>