<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/views/login.css">
    <title>Login</title>
</head>
<body class="loginForm_body">
    
    <main class="loginMain">
        <form class="loginForm">
            <label class="loginForm_label" for="email">Córreo electrónico</label>
            <input  type="email" name="email" class="loginForm_input">
            <label class="loginForm_label" for="password">Contraseña</label>
            <input type="password"  name="password" class="loginForm_input">
            <button class="loginButton" type="submit">Confirmar</button>
        </form>
    </main>
    
</body>
</html>