<!DOCTYPE html>
<html lang = "es">
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-sclae=1.0">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/components/header.css">
        <link rel="stylesheet" href="../css/components/footer.css">
        <link rel="stylesheet" href="../css/views/registro.css">
        <link rel="icon" href="../img/favicon.ico">

        <title>PublicObras - Crear Cuenta</title>
    </head>
    <body>
    <header>
        <h1 class="header_title" ><a href="../../">P U B L I C O B R A S</a></h1>
        <nav>
            <ul class="header_nav">
                <li class="header_nav_li"><a href="../views/acerca.html">Acerca de PublicObras</a></li>
                <li class="header_nav_li"><a href="../views/registro.html">Crear Cuenta</a></li>
                <li class="header_nav_li"><a href="../views/galeria.html">Galeria</a></li>
                <li class="header_nav_li"><a href="../views/login.html">Login</a></li>
                <li class="header_nav_li"><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

<main>
        
            

        <h1>Galeria De Arte</h1>
        <h2>Registrate</h2>
        <br>
        <form id="registroForm" enctype="application/x-www-form-urlencoded">
            <label>Nombre De Usuario : <input required  maxlength="15" type="text" name="user" placeholder="Coloque su Usuario" ></label>
            <label>Nombre : <input required maxlength="10" type="text" name="Nombre" placeholder="Colocar su Nombre"></label>
            <label>Apellido/s : <input required  maxlength="20" type="text" name="Apellido" placeholder="Colocar su Apellido/s"></label>
            <label>Mail : <input required   type="text" name="Mail" placeholder="Colocar su mail/s"></label>
            <label>Contraseña : <input type="password" name="pass" placeholder="Escriba su contraseña"></label>
            <label for="genero">Genero : 
                <select id="genero" name="genero">
                    <option value="0"> </option>
                    <option value="1">Femenino</option>
                    <option value="2">Masculino</option>
                    <option value="3">Otro</option>
                </select>
            </label>
            
                <label>Fecha de Nacimiento :<input type="date"  name="Fecha" ></label>
            
            <label><input type="checkbox" name="do" >He leido y acepto los terminos
                y condicionesde uso</label>

            <input type="submit" value="Enviar Formulario">
        
    </form>

</main>

<footer>
    <label>Recibe las últimas novedades de PublicObras:
        <input type="email" name="email" placeholder="email@email.com">
    </label>
    <button type="button">Suscribirme al Newsletter</button>
    <div class="social">
        <p>Seguinos en nuestras redes</p>
        <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://www.pinterest.com" target="_blank"><i class="bi bi-pinterest"></i></a>
    </div>
    <hr>
    <a href="../views/terms.html">Terminos y Condiciones</a>
    <p>©2024 PublicObras</p>
</footer>


<script>
    let form = document.getElementById("registroForm").addEventListener("submit", (e) =>{
        e.preventDefault()
        alert("Su cuenta fue creada exitosamente")
        window.location.href = "/"

       
    })
</script>
</body>
</html>