<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/components/header.css">
    <link rel="stylesheet" href="../css/components/footer.css">    
    <link rel="icon" href="../img/favicon.ico">
    <title>Editar</title>
</head>
<body>

    <header>
        <h1 class="header_title" ><a href="../../">P U B L I C O B R A S</a></h1>
        <nav>
            <ul class="header_nav">
                <li class="header_nav_li"><a href="../views/acerca.html">Acerca de PublicObras</a></li>
                <li class="header_nav_li"><a href="../views/registro.html">Crear Cuenta</a></li>
                <li class="header_nav_li"><a href="../views/galeria.html">Galeria</a></li>
                <li class="header_nav_li"><a href="../views/login.html">Login</a></li>
                <li class="header_nav_li"><a href="../views/contacto.html">Contacto</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <h2>Vista para realizar el PUT y el DELETE en construcción....</h2>
    </main>





    <footer>
        <label>Recibe las últimas novedades de PublicObras:
            <input type="email" name="email" placeholder="email@email.com">
        </label>
        <button type="button">Suscribirme al Newsletter</button>
        <div class="social">
            <p>Seguinos en nuestras redes</p>
            <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.pinterest.com" target="_blank"><i class="bi bi-pinterest"></i></a>
        </div>
        <hr>
        <a href="../views/terms.html">Terminos y Condiciones</a>
        <p>©2024 PublicObras</p>
    </footer>
    
</body>
</html>