<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/components/header.css">
    <link rel="stylesheet" href="../css/components/footer.css">
    <link rel="stylesheet" href="../css/views/editar.css">
    <link rel="icon" href="../img/favicon.ico">
    <title>Editar</title>
</head>
<body>

    <header>
        <h1 class="header_title" ><a href="../../">P U B L I C O B R A S</a></h1>
        <nav>
            <ul class="header_nav">
                <li class="header_nav_li"><a href="../views/acerca.html">Acerca de PublicObras</a></li>
                <li class="header_nav_li"><a href="../views/registro.html">Crear Cuenta</a></li>
                <li class="header_nav_li"><a href="../views/galeria.html">Galeria</a></li>
                <li class="header_nav_li"><a href="../views/login.html">Login</a></li>
                <li class="header_nav_li"><a href="../views/contacto.html">Contacto</a></li>

            </ul>
        </nav>
    </header>

    <main class="editarMain">
        <label for="userId">Coloque id para deshabilitar usuario:
            <input type="number" class="editarInput", id="userId" name="userId" placeholder="nro de id">
            <button type="button" class="editarButton" id="botonDeshabilitar">Enviar</button>
        </label>

        <label for="publicacionId">Coloque id para eliminar publicación:
            <input type="text" class="editarInput", id="publicacionId" name="publicacionId" placeholder="nro de id">
            <button type="button" class="editarButton" id="botonEliminar">Enviar</button>
        </label>
        
        <form id="publicarForm" action="/publicar" method="POST" enctype="multipart/form-data">
            <label for="userId">Coloque id del usuario que publica:
                <input type="number" class="editarInput", id="userIdPublicar" name="userIdPublicar" placeholder="nro de id">
            </label>
            <label>Archivo :<input type="file"  name="archivo" ></label>
            <label>Autor :<input type="text"  name="autor" ></label>
            <label>Descripción :<textarea name="descripcion" ></textarea></label>
            <input type="submit"  class="editarButton" value="Subir publicación">
        </form>


    </main>





    <footer>
        <label>Recibe las últimas novedades de PublicObras:
            <input type="email" name="email" placeholder="email@email.com">
        </label>
        <button type="button">Suscribirme al Newsletter</button>
        <div class="social">
            <p>Seguinos en nuestras redes</p>
            <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.pinterest.com" target="_blank"><i class="bi bi-pinterest"></i></a>
        </div>
        <hr>
        <a href="../views/terms.html">Terminos y Condiciones</a>
        <p>©2024 PublicObras</p>
    </footer>
    
    <script src="../js/editar.js"></script>
    <script src="../js/suscribirse.js"></script>

</body>
</html>