.editarInput {
    background-color: rgb(209, 159, 192);
    color: white;
    font-weight: bolder;
}

.editarButton {
    margin-top: 0.5rem;
    height: 1.5rem;
    background-color: rgb(104, 225, 104);
    color: white;
    font-weight: bolder; 
}


.editarMain {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

body {
    background: linear-gradient(to bottom, rgb(209, 159, 192), rgb(104, 225, 104));
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    background-color: beige;
}

.itemForm{
    display: contents;
}

.itemEditar{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 30px;
    margin-right: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.highlight {
    background-color: rgba(255, 255, 0, 0.5);
    transition: background-color 1s ease-in; 
}

.remove-highlight {
    background-color: rgba(255, 255, 0, 0);
    transition: background-color 1s ease-out;
}