.editarInput {
    margin-bottom: 0.5rem;
    background-color: rgb(209, 159, 192);
    color: white;
    font-weight: bolder;
}

.editarButton {
    margin-top: 1.5rem;
    height: 1.5rem;
    background-color: rgb(104, 225, 104);
    color: white;
    font-weight: bolder; 
}


.editarMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form#publicarForm {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}

form#publicarForm label {
    margin-bottom: 10px;
}

form#publicarForm input[type="submit"] {
    align-self: flex-start;
}
