body {
    background: linear-gradient(to bottom, rgb(209, 159, 192), rgb(104, 225, 104));
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    background-color: beige;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    display: none;
    min-width: 100%;
    transition: opacity 0.5s ease;
}

.carousel-item.active {
    display: block;
}

.carousel-item img {
    width: 100%;
    border-radius: 10px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
