/* Lineas para anular estilos de Bootstrap no buscados */
a {
    color: revert;
    text-decoration: inherit;
}

.h1, h1 {
    font-size: revert;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: revert;
    line-height: revert;
    color: revert;
}


body {
    margin: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-align: inherit;
    background-color: inherit;
    -webkit-text-size-adjust: inherit;
    -webkit-tap-highlight-color: inherit;
}

dl, ol, ul {
    margin-top: auto;
    margin-bottom: auto;
}

ol, ul {
    padding-left: inherit;
}

hr {
    margin: auto;
    color: inherit;
    border: revert;
    border-top: revert;
    opacity: revert;
}

p {
    margin-top: auto;
    margin-bottom: auto;
}

/* Hasta aquí  */


body {
    background: linear-gradient(to bottom, rgb(209, 159, 192), rgb(104, 225, 104));
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    background-color: beige;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel-placeholder {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    display: none;
    min-width: 100%;
    transition: opacity 0.5s ease;
}

.carousel-item.active {
    display: block;
}

.carousel-item img {
    width: 100%;
    border-radius: 10px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-comentar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.comentar, .carousel-comentario{
    display: flex;
    flex-direction: column;
    align-items: center;

    textarea{
        width: 234px;
        background-color: rgb(209, 159, 192);
        color: white;
        font-weight: bolder;
        
    }
}

.comentarButton{
    margin-top: 0.5em;
    height: 1.5rem;
    background-color: rgb(104, 225, 104);
    color: white;
    font-weight: bolder;
}

h5 {
    text-align: center;
    color: rgb(85, 26, 85);
}